<div class="post_question_area">
  <div class="post_area">
    <div class="post_header"></div>
    <%= form_with(model: @question, local: true) do |form| %>
      <div class="post_container">
        <div class="post_question_contents">
          <div class="question_title">
            <%= form.text_field :title, placeholder: "タイトル", id: "question_title", autocomplete: "off" %>
          </div>
          <div class="question_content">
            <%= form.text_area :content, placeholder: "質問内容", class: "content" %>
          </div>
          <div class="question_byname">
            <%= form.text_field :byname, placeholder: "投稿者名", class: "byname", autocomplete: "off" %>
          </div>
          <div class="question_submit">
            <%= form.submit "POST", id: "submit_btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>